{% extends "layout.twig" %}

{% block header %}
<h1>{{ name }}</h1>
{% endblock %}

{% block content %}
<p><a href="{{ urlFor('start') }}">start</a></p>
{% if moments|length > 0%}
<ul>
{% for moment in moments %}
<li><a href="{{ urlFor('moment', {"moment": moment.identifier}) }}">{{ moment.identifier }} {{ moment.value }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
