{% extends "layout.twig" %}

{% block content %}
<h2>{{ moment.identifier }}</h2>
<p>Date: {{ moment.value }}</p>
{% if moment.parent %}
<p>Parent: <a href="{{ urlFor('moment', {'moment': moment.parent}) }}">{{ moment.parent }}</a></p>
{% endif %}
{% if moment.isStart %}
<p>Stopwatch started here.</p>
{% endif %}
{% if moment.isStop %}
<p>Stopwatch stopped here.</p>
{% endif %}
{% if children|length > 0 %}
<ul>
{% for child in children %}
<li><a href="{{ urlFor('moment', {'moment': child.identifier}) }}">{{ child.identifier }}</a></li>
{% endfor %}
</ul>
{% endif %}
<p><a href="{{ urlFor('addMoment', {'moment': moment.identifier}) }}">add</a></p>
<p><a href="{{ urlFor('stop', {'parent': moment.identifier}) }}">stop</a></p>
{% endblock %}
